In [ ]:
import os
import re

import nltk
import pandas as pd
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [ ]:
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\chanc\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\chanc\AppData\Roaming\nltk_data...

True

In [4]:
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

In [5]:
def preprocess_text(text):
    text = re.sub(r'\$[A-Za-z]+', '', text)
    text = re.sub(r'http\S+|www\S+|https\S+', '', text, flags=re.MULTILINE)
    text = re.sub(r'\@\w+|\#', '', text)
    text = text.lower()
    text = re.sub(r'[^A-Za-z0-9\s]', '', text)
    text = text.strip()
    text = ' '.join([lemmatizer.lemmatize(word) for word in text.split() if word not in stop_words])
    return text

In [35]:
data_dir = 'data_from_caggle'
data_files = os.listdir(data_dir)
data_paths = [os.path.join(data_dir, data_files[i]) for i in range(len(data_files)) if data_files[i].endswith('.csv')]
data_paths

['data_from_caggle\\sent_train.csv', 'data_from_caggle\\sent_valid.csv']

In [36]:
dataset_dir = 'dataset'
os.makedirs(dataset_dir, exist_ok=True)

In [44]:
train_df = pd.read_csv(data_paths[0])
train_df['text'] = train_df['text'].apply(preprocess_text)
train_df['label'] = train_df['label'].replace({0: -1, 1: 1, 2: 0})
train_df.dropna(subset=['text'], inplace=True)
train_df.to_csv(os.path.join(dataset_dir, 'train.csv'), index=False)

In [45]:
train_df

                                                   text  label
0                 jpmorgan reel expectation beyond meat     -1
1     nomura point booking weakness carnival royal c...     -1
2     cemex cut credit suisse jp morgan weak buildin...     -1
3                             btig research cut neutral     -1
4                      funko slide piper jaffray pt cut     -1
...                                                 ...    ...
9538  week gainer loser stoxx europe 50 dec 26 econo...      0
9539  tupperware brand among consumer gainer unileve...      0
9540  vtv therapeutic lead healthcare gainer myomo b...      0
9541                 work xpo pyx amkr among hour mover      0
9542                      yndx qd oesx among tech mover      0

[9543 rows x 2 columns]

In [46]:
test_df = pd.read_csv(data_paths[1])
test_df['text'] = test_df['text'].apply(preprocess_text)
test_df['label'] = test_df['label'].replace({0: -1, 1: 1, 2: 0})
test_df.to_csv(os.path.join(dataset_dir, 'test.csv'), index=False)

In [47]:
test_df

                                                   text  label
0                           ally financial pull outlook     -1
1              dell hpe target trimmed compute headwind     -1
2                        moody turn negative party city     -1
3                                deutsche bank cut hold     -1
4                                compass point cut sell     -1
...                                                 ...    ...
2383  stock making biggest move midday td ameritrade...      0
2384  stock making biggest move premarket fitbit xer...      0
2385  stock making biggest move premarket home depot...      0
2386  stock making biggest move premarket td ameritr...      0
2387                tco nnvc gpor je among midday mover      0

[2388 rows x 2 columns]